<h1> This notebook is to create make a dataframe of having the list of Toronto's Boroughs with their zipcodes attached to them </h1>

Lets first get the particular page of wikipedia having the said values

In [113]:
import lxml
from lxml import html
import requests
import pandas as pd

In [114]:
page = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M.html')
tree = html.fromstring(page.content)

In [115]:
tree

In [116]:
from urllib.request import urlopen

from bs4 import BeautifulSoup as BS

In [117]:
wikiPage = urlopen('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

In [118]:
soup = BS(wikiPage,'lxml')

In [167]:
dataTable = pd.DataFrame(columns=range(0,3), index = [0])

In [168]:
dataTable.columns = ['PostCode','Borough','Neighbourhood']

In [169]:
rowCounter = 0
for row in table.find_all('tr'):
    columnValue = row.find_all('td')
    columncounter =0
    for column in columnValue :
        if(column.get_text() != 'Not assigned'):
            if(columncounter == 0):
                dataTable.set_value(rowCounter,'PostCode',column.get_text())
            elif(columncounter == 1):
                dataTable.set_value(rowCounter,'Borough',column.get_text())
            elif(columncounter == 2):
                dataTable.set_value(rowCounter,'Neighbourhood',column.get_text())
        columncounter = columncounter + 1
    rowCounter = rowCounter + 1

C:\Users\ezchave\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:8: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

C:\Users\ezchave\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:12: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  if sys.path[0] == '':
C:\Users\ezchave\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:10: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  # Remove the CWD from sys.path while we load stuff.

In [170]:
dataTable.head()

  PostCode     Borough       Neighbourhood
0      NaN         NaN                 NaN
1      M1A         NaN      Not assigned\n
2      M2A         NaN      Not assigned\n
3      M3A  North York         Parkwoods\n
4      M4A  North York  Victoria Village\n

In [171]:
dataTable.dropna(inplace = True)

In [172]:
dataTable = dataTable[dataTable.Borough != 'Not assigned']

In [173]:
dataTable.reset_index(inplace = True)

In [174]:
dataTable.head()

   index PostCode           Borough       Neighbourhood
0      3      M3A        North York         Parkwoods\n
1      4      M4A        North York  Victoria Village\n
2      5      M5A  Downtown Toronto      Harbourfront\n
3      6      M5A  Downtown Toronto       Regent Park\n
4      7      M6A        North York  Lawrence Heights\n

In [175]:
dataTable = dataTable.drop(['index'],axis = 1)

In [176]:
dataTable['Neighbourhood'] = dataTable['Neighbourhood'].map(lambda x : x.rstrip('\n'))

In [177]:
dataTable['Borough'] = dataTable[['PostCode','Borough','Neighbourhood']].groupby(['PostCode'])['Borough'].transform(lambda x : ','.join(x))

In [178]:
dataTable['Neighbourhood'] = dataTable[['PostCode','Borough','Neighbourhood']].groupby(['PostCode'])['Neighbourhood'].transform(lambda x : ','.join(x))

In [179]:
dataTable.drop_duplicates(inplace = True)

In [180]:
dataTable.reset_index(inplace = True)

In [181]:
dataTable = dataTable.drop(['index'],axis = 1)

In [184]:
dataTable.head()

  PostCode                            Borough                    Neighbourhood
0      M3A                         North York                        Parkwoods
1      M4A                         North York                 Victoria Village
2      M5A  Downtown Toronto,Downtown Toronto         Harbourfront,Regent Park
3      M6A              North York,North York  Lawrence Heights,Lawrence Manor
4      M7A                       Queen's Park                     Not assigned

In [186]:
dataTable['Lattitude'] = 0

In [187]:
dataTable['Longitude'] = 0

In [189]:
dataTable.head()

,PostCode,Borough,Neighbourhood,Lattitude,Longitude
0,M3A,North York,Parkwoods,0,0
1,M4A,North York,Victoria Village,0,0
2,M5A,"Downtown Toronto,Downtown Toronto","Harbourfront,Regent Park",0,0
3,M6A,"North York,North York","Lawrence Heights,Lawrence Manor",0,0
4,M7A,Queen's Park,Not assigned,0,0

In [192]:
for index in dataTable :
    print(dataTable.iloc(index))

ValueError: No axis named PostCode for object type <class 'type'>

In [157]:
dataTable.shape

(103, 3)